@mixin layOut {
  font-size: 1.25rem;
  font-weight: 400;
}

@mixin editorialText {
  font-family: "Nympha One";
}

@mixin background {
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

@mixin lowerImages {
  width: 40vw;
  height: 135vh;
}

// @mixin desktop() {
//   @media (max-width: 1200px) {
//     @content;
//   }
// }

// @mixin tablet() {
//   @media (max-width: 900px) {
//     @content;
//   }
// }

// @mixin phone() {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

// @mixin smallerPhones() {
//   @media (max-width: 400px) {
//     @content;
//   }
// }

@mixin bp($point) {
  $smallerPhones: "(min-width: 300px) and (max-width: 400px)";
  $phones: "(min-width: 401px) and (max-width: 600px)";
  $tablet: "(min-width: 601px) and (max-width: 900px)";
  $desktop: "(min-width: 901px) and (max-width: 1024px)";

  @if $point == smallerPhones {
    @media #{$smallerPhones} {
      @content;
    }
  } @else if $point == phones {
    @media #{$phones} {
      @content;
    }
  } @else if $point == tablet {
    @media #{$tablet} {
      @content;
    }
  } @else if $point == desktop {
    @media #{$desktop} {
      @content;
    }
  }
}
